## Bitnami HAProxy uses 'configuration' (not 'config')
configuration: |
  global
      log stdout format raw local0
  defaults
      log global
      mode tcp
      option tcplog
      timeout connect 5s
      timeout client 30s
      timeout server 30s

  frontend redis-in
      bind *:6379
      default_backend redis-backend

  backend redis-backend
      mode tcp
      option tcp-check
      tcp-check send "Doifo4Pj44\r\n"
      tcp-check expect string "+OK"
      tcp-check send "info replication\r\n"
      tcp-check expect string "role:master"
      
      # Using your Redis headless service DNS
      server redis-0 redis-node-0.redis-headless.redis.svc.cluster.local:6379 check
      server redis-1 redis-node-1.redis-headless.redis.svc.cluster.local:6379 check

## Bitnami uses 'containerPorts' to open the port on the Pod
containerPorts:
  - name: redis
    containerPort: 6379

## Service configuration to expose HAProxy
service:
  type: NodePort
  ports:
    - name: redis
      port: 6379
      targetPort: redis
      protocol: TCP

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi