service:
  type: NodePort  # Better for KVM labs than LoadBalancer
  ports:
  - name: redis
    port: 6379   # Change the service port to 6379
    targetPort: 6379
    protocol: TCP


config: |
  global
      log stdout format raw local0
  
  defaults
      log global
      mode tcp
      option tcplog
      timeout connect 5s
      timeout client 30s
      timeout server 30s

  frontend redis-in
      bind *:6379
      default_backend redis-backend

  backend redis-backend
      mode tcp
      option tcp-check
      # This is the "Magic" check: it asks Redis "Are you the master?"
      tcp-check send "info replication\r\n"
      tcp-check expect string "role:master"
      
      # Use the internal K8s DNS for your Redis nodes
      server redis-0 redis-node-0.redis-headless.redis.svc.cluster.local:6379 check
      server redis-1 redis-node-1.redis-headless.redis.svc.cluster.local:6379 check

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi