architecture: replication
replica:
  replicaCount: 2
sentinel:
  enabled: true
  masterSet: mymaster
  quorum: 2
resources:
  limits:
    memory: 512Mi
  requests:
    memory: 256Mi
auth:
  enabled: true
  password: "Doifo4Pj44"  # Use the password you put in HAProxy
  sentinel: true          # Ensure sentinels use this password too
